*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
//   background-color: $color-body-bg;
//   color: $color-text;
//   font-family: $site-font;
  font-size: 1.3rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;
}

.container {
  max-width: 120rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  z-index: 1;

  // @include responsive(big-table) {
  //   padding: 0  1rem;
  // }
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

button{
  outline: none;
  border: none;
  background: none;
}
