@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $site-font;
}



html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $color-body;
  color: $color-text;
  font-size: 1.3rem;
  font-weight: 400;


  // display: flex;
  // flex-direction: column;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  z-index: 1;
  padding-top: 2rem;

 @include responsive(phone){
  padding: 0 ;
 }
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

button{
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
a{
  text-decoration: none;
}
