.descr__small {
  color: $color-gray-secondary;
  font-size: 1.6rem;
  line-height: 2.3rem;
}
.descr {
  color: $color-text;
  font-size: 1.6rem;
  line-height: 2.3rem;
  max-width: 54rem;
  text-align: left;

  @include responsive(table) {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  @include responsive(m-phone) {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

.title {
  color: $color-text;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34rem;
  letter-spacing: -0.03rem;

  @include responsive(table) {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: -0.02rem;
  }

  @include responsive(phone){
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  @include responsive(m-phone){
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: -0.019rem;
  }
}
