.control {
  width: 100%;

  &__title {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }
  .descr {
    margin-bottom: 1.6rem;
  }
  &__item {
    width: 100%;
    padding: 1.3rem 2.4rem;
    background-color: $color-secondary;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 2.4rem;
    border: 1px solid $color-secondary;

    &:focus {
      border-color: #4661e6;
    }
  }

  &__select {
    position: relative;
  }
  &__select--btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 1.5rem;
      line-height: 2.1rem;
      color: $color-text;
    }
  }
  &__select--list {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    background-color: $color-bg;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__list--item {
    padding: 1.2rem 2.4rem;
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid #3A4374;
    }
    &:hover{
        color: $color-ink;
    }
  }
}
