$color-primary: #f7f8fd;
$color-secondary: #f2f4ff;
$color-ink: #ad1fea;
$color-text: #3a4374;
$color-bg: #fff;
$color-body: #f2f2f2;
$color-pink: #f49f85;
$color-danger: #d73737;
$color-gray: #373f68;
$color-gray-secondary: #647196;
$color-blue: #4661e6;
$color-blue-secondary: #62bcfa;

// btn hover
$color-btn-hover: #cfd7ff;
$color-ink-hover: #c75af6;
$color-blue-hover: #7c91f9;
$color-dark-hover: #656ea3;
$color-danger-hover: #e98888;

// Fonts
$site-font: "Jost", sans-serif;
