$color-primary:#F7F8FD;
$color-secondary:#F2F4FF;
$color-ink:#AD1FEA;
$color-text:#3A4374;
$color-bg:#fff;
$color-pink:#F49F85;
$color-gray:#373F68;
$color-gray-secondary:#647196;
$color-blue:#4661E6;
$color-blue-secondary:#62BCFA;
