.card {
  margin-top: 2rem;

  @include responsive(phone){
    margin-top: 18rem;
  }
  &__item {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $color-bg;
    padding: 2.8rem 3.2rem;
    border-radius: 1rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include responsive(phone){
        max-width: 93%;
        margin: 0 auto;
        padding: 2.4rem;
        align-items: flex-end;
    }
  }
  &__item--content {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include responsive(phone){
        flex-direction: column-reverse;
    }
  }

  &__content--plugin {
    margin-right: 4rem;
    background: $color-secondary;
    width: 4rem;
    height: 5.3rem;
    border-radius: 1rem;

    p{
        font-weight: 700;
        color: $color-text;
        line-height: 1.8rem;
    }

    @include responsive(phone){
        display: flex;
        align-items: center;
        justify-content: center;

        width: 6.9rem;
        height: 3.2rem;

        p{
          margin-left: 1rem;
        }
    }
  }
  .subtitle{
    @include responsive(phone){
        margin-bottom: .8rem;
    }
  }
  .descr {
    margin-bottom: 1.2rem;

    @include responsive(phone){
        max-width: 29rem;
        margin-bottom: .8rem;
    }
  }
  .filter__btn {
    padding: 0.5rem 1.6rem;
    background-color: $color-secondary;
    border-radius: 1rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: $color-blue;

    @include responsive(phone){
        margin-bottom: 1.6rem;
    }
  }
  &__item--message{
    display: flex ;
    align-items: center;
    justify-content: center;

    svg{
        margin-right: .8rem;
    }

    p{
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.3rem;
        color: $color-text;

        @include responsive(phone){
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }
  }
}
