.feedbackHeader {
  width: 100%;
  padding: 1.4rem 1.6rem 1.4rem 2.4rem;
  background: $color-gray;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(table) {
  }
  &__content {
    display: flex;
    align-items: center;
  }

  img {
    width: 15.6rem;
    height: 2.6rem;
    margin-right: 3.8rem;
    @include responsive(phone) {
      display: none;
    }
  }

  &__select {
    display: flex;
    align-items: center;
    color: $color-secondary;
    position: relative;
  }
  &__select--text {
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 0.3rem;
  }

  &__dropdown--btn {
    width: 15rem;
    text-align: left;
    color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
  }
  &__dropdown--icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.5rem;
    margin-left: 0.7rem;

    img {
      width: 0.9rem;
      height: 0.6rem;
      object-fit: cover;
    }
  }
  &__select--list {
    position: absolute;
    top: 6.5rem;
    left: 0;
    width: 25.5rem;
    border-radius: 1rem;
    background: $color-bg;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
  }
  &__select--list__item {
    width: 100%;
    margin: 0;
    padding: 1.2rem;
    text-align: left;
    color: $color-gray-secondary;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-size: 1.6rem;
    line-height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: block;
      width: 2rem;
      height: 1rem;

      img {
        width: inherit;
        height: inherit;
        margin-bottom: 0.7rem;
      }
    }
    
    
    &:hover {
      color: $color-ink;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-secondary;
    }
  }

  @include responsive(phone) {
    position: absolute;
    z-index: 990;
    border-radius: 0;
    top: 7rem;
    left: 0;
  }
}
.opacity{
  opacity: 0.75;
}