.comments-card {
  width: 100%;
  background-color: $color-bg;
  padding: 2.4rem 3.2rem;
  border-radius: 1rem;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.comment {
  display: flex;
  align-items: flex-start;
  padding-bottom: 3.2rem;
  border-bottom: 1px solid #8c92b3;
  img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    margin-right: 3.2rem;
  }

  &--main {
    width: 95%;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.7rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
  }
  &__btn {
    font-weight: 600;
    line-height: 1.8rem;
    color: $color-blue;
    transition: text-decoration 0.3s ease-in;

    &:hover {
      text-decoration: underline;
    }
  }
  .descr {
    max-width: 80rem;
    margin-bottom: 2.4rem;
  }

  form {
    display: flex;
    align-items: flex-start;
    // justify-content: center;

    textarea {
      width: 46.1rem;
      margin-right: 4rem;
    }
  }

  &__form {
    width: 100%;
    textarea {
      width: 100%;
      margin-bottom: 1.6rem;
    }
  }

  &__form--textarea {
    width: 70%;
    height: 8rem;
    outline: none;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    border-radius: 0.5rem;
    padding: 1.6rem 2.4rem;
    font-size: 1.5rem;
    color: $color-text;

    &:focus {
      border-color: $color-blue;
    }
  }

  &__form {
    input {
      margin-bottom: 1.6rem;
    }

    &--footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.1rem;
      color: $color-gray-secondary;
    }
  }
}
