.notFound {
  margin-top: 2rem;
  width: 100%;
  height: 80vh;
  background-color: $color-bg;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include responsive(phone) {
    margin: 17rem auto 0;
    width: 95%;

    img {
      width: 10.2rem;
      height: 10.8rem;
    }
  }
  &__img {
    margin-bottom: 5rem;
    img {
      width: 12.9rem;
      height: 13.6rem;
    }

    @include responsive(phone) {
      margin-bottom: 4rem;
    }
  }

  &__content {
    margin-bottom: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .descr {
      text-align: center;
      max-width: 41rem;
    }
  }
  @include responsive(phone) {
    &__content {
      margin-bottom: 2.4rem;
    }
    .descr {
      max-width: 27.8rem;
    }
  }
}
