.sidebar {
  top: 0;
  left:0;
  position: relative;

  @include responsive(table) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
  }
  @include responsive(phone) {
    flex-direction: column;
  }

  &__components{
    @include responsive(table){
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    @include responsive(phone){
      position: absolute;
      top: 7.2rem;
      right: -270rem;
      flex-direction: column;
      justify-content: flex-start;
      padding: 2.4rem;
      width: 27.1rem;
      height: 80vh;
      background-color: $color-secondary;
      transition: all 0.3s ease-in-out;
    }
  }

  &__mobile{
    right: 0;
    &::after{
      position: fixed;
      content: '';
      top: 0;
      left: 0;
      background-color:rgba($color: #000000, $alpha: 0.5);
      width: 100vw;
      height: 100vh;
      z-index: -1;
      transition: 0.4s ease-in-out;
      transition-delay: 0.5s;
    }
  }




  &__item {
    width: 25.5rem;
    border-radius: 1rem;
    background-color: $color-bg;
    padding: 2.4rem 2.4rem;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    @include responsive(table) {
      width: 22.3rem;
      height: 17.8rem;
      padding: 1.9rem;

      &:not(:last-child){
        margin-right: 1.7rem;
      }
    }
  }

  //   sidebar content item
  &__item--content {
    background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%
    );
    display: flex;
    align-items:flex-end;
    height: 13.7rem;

    @include responsive(table){
      height: 17.8rem;
    }
    @include responsive(phone){
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      width: 100%;
      height: 7.2rem;
      border-radius: 0;
      align-items: center;
      justify-content: space-between;
    }

  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: $color-bg;
  }
  &__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.1rem;
    color: $color-bg;
    opacity: 0.75;
  }
  &__header--btn{
    visibility: hidden;

    @include responsive(phone){
      visibility: visible;
    }
  }

  //   sidebar filter item

  &__item--filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 0.8rem;
  }
  &__btn {
    padding: 0.5rem 1.6rem 0.6rem;
    height: 3rem;
    background-color: $color-secondary;
    border-radius: 1rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: $color-blue;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background: $color-btn-hover;
    }

    &:focus {
      background: $color-blue;
      color: $color-secondary;
    }
  }

  //   sidebar roadmap
  &__item--roadmap {
    
  }

  &__roadmap--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    
  }

  &__roadmap--link {
    font-weight: 600;
    line-height: 1.8rem;
    color: $color-blue;
  }

  &__roadmap--list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  &__roadmap--list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .8rem;

    &:nth-child(1) .sidebar__roadmap--circle {
      background: $color-pink;
    }
    &:nth-child(2) .sidebar__roadmap--circle {
      background: $color-ink;
    }
    &:nth-child(3) .sidebar__roadmap--circle {
      background: $color-blue-secondary;
    }
  }

  &__roadmap--circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 1.6rem;
  }
  &__roadmap--text {
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: $color-gray-secondary;
  }
  &__roadmap--number {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: $color-gray-secondary;
  }
}

// sidebar mobile
// .sidebar__mobile {
//   display: none;
//   position: relative;
//   transition: all 0.6s ease;

//   @include responsive(phone) {
//     display: block;
//   }




//   .sidebar__content {
//     background: radial-gradient(
//       128.88% 128.88% at 103.9% -10.39%,
//       #e84d70 0%,
//       #a337f6 53.09%,
//       #28a7ed 100%
//     );
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0 2.4rem;
//     height: 7.2rem;
//     position: absolute;
//     z-index: 999;
//   }

//   svg {
//     width: 2rem;
//     height: 2rem;
//   }

//   &--item {
//     visibility: hidden;
//     position: absolute;
//     top: 0;
//     right: -27rem;
//     background-color: $color-primary;
//     width: 27rem;
//     height: 100%;
//     padding: 2.4rem;
//     transition: all 0.5s ease-in-out;
//     transition-delay: 0.2s;
//     z-index: 998;
//   }
//   //   animation
//   &--animation {
//     right: 0;
//     visibility: visible;
//   }
//   &--blackmode{
//     background: rgba(0, 0, 0, 0.5);
//     position: absolute;
//     width: 100%;
//     height: 100vh;
//     top: 12vh;
//     left: 0;
//     z-index: 998;
//     visibility: hidden;
//     transition: 0.5s;
//   }
//   &--bg {
//     visibility: visible;
//   }
// }
