.feedback__about {
  width: 100%;
  padding: 2rem 20rem;

  &--link {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;
  }
}
