.feedbackPage {
  width: 100%;
  padding: 5rem 25rem 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  .link {
    margin-bottom: 6.8rem;
  }
}
